.btn {
  font-weight: bold;
  display: inline-block;
font-size: 14px;
line-height: 19px;
background: #F5170E;
padding: 18px 40px;
border-radius: 35px;
border: 2px solid transparent;
}
.btn:hover {
  background: #920500;
}

.btn--size--small {
  padding: 18px 30px;
}

.btn--col--light {
  background: #fff;
  color:#F5170E;
  border: 1px solid #F5170E;
}
.btn--col--light:hover {
color: #fff;
background: #F5170E;
}