.slogan-container {
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 334px;
}
.slogan__title {
  font-weight: bold;
font-size: 72px;
line-height: 98px;
text-align: start;
width: 45%;

}
.slogan__desc {
  font-size: 18px;
line-height: 20px;
}
