.top-line {
  display: flex;
  background: url(./img/bg/bg-top-line.png) no-repeat;
}
.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 412px;
}
